.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.1em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgba(20, 89, 226, 0.862);
}


.url
{
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgba(13, 134, 4, 0.862);
}

.description
{
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}